<link rel="stylesheet" href="/CSS/footer.css">



<footer id="foot_part" class="se-flex bold">

    <div>Author :Vivek Raj</div>
    <div class="text_center"><a href="/" class="link red">HOME</a>  | <a href="/profile/<%= user._id %>" class="link red">PROFILE</a> | <a href="/user/signout" class="link red">SIGNOUT</a> </div>
    <div id="icons" class="se-flex size3">
        <a href="/" class="link"><i class="fab fa-linkedin blue"></i></a>
        <a href="/" class="link"><i class="fab fa-instagram red"></i></a>
        <a href="/" class="link"><i class="fab fa-whatsapp green"></i></a>
        <a href="/" class="link"><i class="fab fa-facebook blue"></i></a>
        <a href="/" class="link"><i class="fab fa-slack red"></i></a>
        <a href="/" class="link"><i class="fab fa-discord blue"></i></a>
    </div>
</footer>
