body {
  color: white; }

.each_post {
  background-color: #000000e0; }
  .each_post .user_info, .each_post .follow_delete {
    width: 40%; }
  .each_post .post_body {
    display: flex;
    flex-wrap: wrap; }
    .each_post .post_body .post_img_div {
      height: 300px;
      width: 100%; }
    .each_post .post_body .post_body_image {
      height: 100%;
      width: 100%; }

#post_form .file_upload {
  width: 100px; }

.all_post {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0; }
  .all_post li {
    width: 90%; }

@media screen and (min-width: 500px) {
  .post {
    width: 80% !important; }
  .user_info, .follow_delete {
    width: 30% !important; }
  .each_post {
    background-color: #000000e0;
    margin: auto; }
    .each_post .post_body {
      display: flex;
      flex-wrap: wrap; }
      .each_post .post_body .post_img_div {
        height: 300px;
        width: 100%; }
      .each_post .post_body .post_body_image {
        height: 100%;
        width: 100%; } }

@media screen and (min-width: 900px) {
  .post {
    width: 70% !important; }
  .user_info, .follow_delete {
    width: 50%; }
  .all_post li {
    width: 45% !important; } }
